.principale{
display: flex;
flex-direction: column;
align-items: center; 
}

.principale__tritre{
color: #fff;
font-size: 2rem;
text-align: center;
text-transform: uppercase;
font-weight: bold;
}

.formulaire-recherche {
display: flex;
gap: 40px;
padding: 10px;
border-radius: 8px;
padding-top: 3rem;
}

label {
display: flex;
align-items: center;
background: white;
padding: 20px 40px;
border: 1px solid #ddd;
border-radius: 20px;
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
cursor: pointer;
gap: 8px;
font-size:  1.5rem;

}

label:hover {
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

label input[type="text"] {
border: none;
accent-color: black; 
font-size: 1.4rem; 
cursor: pointer;
}

label span {
font-weight: bold;
margin-left: 8px;
cursor: pointer;
}

input[type="date"],
select {
border: none;
outline: none;
font-size: 20px;
margin-left: 8px;
background: none;
cursor: pointer;
}


.bouton-recherche {
display: flex;
align-items: center;
justify-content: center;
background: #ffd700;
color: black;
border: none;
padding: 20px 40px;
border-radius: 20px;
font-weight: bold;
cursor: pointer;
gap: 8px;
font-size:  1.5rem;
}

.bouton-recherche:hover {
background: #f0c600;
}

/* Section des explications */
.section-explications {
display: flex;
justify-content: space-around;
border-top: 2px solid #575353;
border-bottom: 2px solid #575353;
padding: 80px 20px;
margin: 90px 30px;
}

/* Article des explications */
.explication {
max-width: 450px;
}

/* Titre de chaque article d'explication */
.explication__titre {
font-size: 30px;
text-decoration: underline;
margin-bottom: 10px;
}


/* Élément individuel dans la liste */
.explication__element {
font-size: 24px;
margin-bottom: 10px;
}

/* Modificateur pour mettre en valeur le texte en gras */
.explication__element--gras {
font-weight: bold;
font-size: 26px;
}

/* icon couleur */
.green-icon {
color: green;
font-size: 34px;
}

.cyan-icon {
color: cyan;
font-size: 34px;
}


h1 {
text-align: center;
font-size: 2.5em;
color: #00796b;
margin-bottom: 30px;
}

/* Carte de trajet */
.trajet-card {
background: #fff;
border-radius: 12px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
padding: 20px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
margin-bottom: 30px;
}

.trajet-card:hover {
transform: scale(1.05);
box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

/* En-tête de chaque trajet */
.trajet-header {
background: #00796b;
color: #fff;
padding: 15px;
font-weight: bold;
display: flex;
align-items: center;
border-radius: 10px;
margin-bottom: 15px;
}

.trajet-header i {
margin-right: 10px;
font-size: 1.6em;
}

/* Informations du trajet */
.trajet-info {
display: flex;
justify-content: space-between;
align-items: center;
}

.trajet-hour, .trajet-location {
font-size: 1.2em;
font-weight: 500;
color: #00796b;
padding: 12px 15px;
border-radius: 8px;
background: #e0f2f1;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

/* Pied de page avec conducteurs et boutons */
.trajet-footer {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #f0f0f0;
padding: 15px;
border-radius: 8px;
}

.conducteur {
font-size: 1em;
font-weight: 600;
color: #333;
display: flex;
align-items: center;
}

.conducteur i {
margin-right: 8px;
font-size: 1.3em;
color: #00796b;
}

.reserver-btn,.tajet-btn {
background: #00796b;
color: #fff;
border: none;
padding: 10px 20px;
font-size: 1em;
border-radius: 5px;
cursor: pointer;
transition: background 0.3s ease, transform 0.2s ease;
}

.reserver-btn:hover,.tajet-btn:hover {
background: #004d40;
transform: translateY(-3px);
}
