.trajet-tritre{
    text-align: center;
    font-size: 3rem;
    color: #003d7a;
    padding-top: 1rem;
}
.liste-trajets {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 800px;
    margin: 4rem auto;
}

article.trajet {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

article.trajet:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

header.trajet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

header.trajet-header h2 {
    font-size: 1.2em;
    color: #0055a5;
    margin: 0;
}

section.trajet-info {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

section.trajet-info p {
    margin: 5px 0;
    font-size: 0.9em;
}

.trajet-destination {
    font-weight: bold;
    color: #333;
}

.trajet-date, .trajet-passagers {
    color: #555;
    font-size: 0.9em;
}

footer.button-container {
    margin-top: 15px;
    text-align: right;
}

a.btn-reserver {
    padding: 10px 15px;
    background-color: #0055a5;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a.btn-reserver:hover {
    background-color: #003d7a;
}